/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
body {
    padding: 0;
    margin: 0;
    background-color: #93a7d1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

table {
    background-color: #4f7097;
    color: #efefef;
    border-radius: 15px 15px 0 0;
    padding: 30px;
    width: 500px;
    border-top: solid #efefef 2px;
    border-left: solid #efefef 2px;
    border-right: solid #efefef 2px;
}

.add {
    background-color: #4f7097;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 15px;
    font-size: 20px;
    color: #efefef;
}

.add:hover {
    background-color: #444;
    transition: 300ms;
}

th {
    text-align: left;
    text-decoration: underline;
}

.footer {
    width: 500px;
    background-color: #efefef;
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.text-box {
    padding: 15px;
}